body
{
}
.content {
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 20px;
    background-color: #BFA8F5;
    width: 200px;
    height: 200px;
    z-index: 1;
    transition: .4s ease-in;
}
img{
    width:200px;
}
.content:hover{
    transition:ease-out .5s;
    height:400px;
}
.font{
    position:absolute;
    top:30%;
    left:41.5%;
    width:200px;
    padding-top:200px;
    z-index:2;
    background-color:red;
    
}
p {
    position:absolute;
    top:50%;
    z-index:3;
    visibility:hidden;
    font-family:cursive;

    
}
.content:hover p{
    visibility:visible;
    transition:.5s ease-out;

}
